// Images

.left-200 {
  width: 200px;
  float: left;
  margin-top: 5px;
  margin-right: 20px;
}

.right-200 {
  width: 200px;
  float: right;
  margin-top: 5px;
  margin-left: 20px;
}

.left-250 {
  width: 250px;
  float: left;
  margin-top: 5px;
  margin-right: 20px;
}

.right-250 {
  width: 250px;
  float: right;
  margin-top: 5px;
  margin-left: 20px;
}

.left-300 {
  width: 300px;
  float: left;
  margin-top: 5px;
  margin-right: 20px;
}

.right-300 {
  width: 300px;
  float: right;
  margin-top: 5px;
  margin-left: 20px;
}

.left-400 {
  width: 400px;
  float: left;
  margin-top: 5px;
  margin-right: 20px;
}

.right-400 {
  width: 400px;
  float: right;
  margin-top: 5px;
  margin-left: 20px;
}